@media(max-width: 768px){
	.client-tabs .tabbable-line > .nav-tabs > li {
	    width: 50%;
	}
	.aum-title {
	    text-align: center;
	    color: #000000 !important;
	    font-weight: 700;
	    letter-spacing: initial;
	    margin: 30px 0px !important;
	    font-size: 28px;
	}
	.aum-tabs .company-details-3 {
	    text-align: center!important;
	}
	.fund-title h2, .rank h2 {
	    font-weight: 800;
	}
	.search-funds-tab-1 {
	    border-bottom: 0px solid #cccccc;
	}
	.aum-inner-tabs ul.nav.nav-tabs {
	    background: #ffffff;
	}
	.aum-inner-tabs .tabbable-line > .nav-tabs > li > a {
	    color: #ffffff !important;
    	background: #008afb;
	    border-radius: 20px;
	    padding: 10px 12px;
	    font-size: 100%;
	    text-transform: capitalize;																					
	}
	.aum-inner-tabs .tabbable-line > .nav-tabs > li > a.active.show {
	    border-bottom: 0px solid #008afb !important;
	    background: #a3a3a3 !important;
	}
	.aum-inner-tabs .tabbable-line > .nav-tabs > li {
	    padding: 5px 0px !important;
    	width: auto;
	}
	.aum-inner-tabs {
	    width: 95%;
	}
	.aum-inner-tabs .tabbable-line > .tab-content {
	    padding:0px;
	    background: #ffffff;
	}
	.aum-inner-tabs .search-funds-tab-outer {
	    box-shadow: none;
	    border: 2px solid #aaaaaa;
    	border-radius: 0px;
	}
	.aum-inner-tabs .search-funds-tab {
	    border-bottom: 0px solid #a9a4a4;
	}
	.piechart-img{
		width: 100%;
	}
	.aum-table td{
		text-align: center;
	}
	.search-funds-tab-1 {
	    padding: 0px;
	}
	div#accordionExample {
	    width: 100%;
	}
	.accordionExample .card-body .social h4 {
	    text-align: left;
	}
	.aum-tabs .accordion .company-details-3 {
	    text-align: right !important;
	}
	.accordionExample h6, .accordionExample .collapsed h6{
		color: #a9a4a4 !important;
		letter-spacing: initial;
	}
	#total-earnings .accordionExample h4, #total-earnings .accordionExample .collapsed h4{
		color:#000000 !important;
	}
	.accordionExample .card-body .social h6 {
	    text-align: left;
	    font-size: 20px;
	}
	.accordionExample .card-body .social .ir-contact h4, #total-earnings .accordionExample .ir-contact h4 {
	    text-align: center;
	    color: #ffffff !important;
	}
	#total-earnings .card {
	    margin-bottom: 15px;
	    box-shadow: 0px 4px 5px 4px #d6d6d6;
	    border-radius: 8px;
	}
	.client-tabs #total-earnings .search-funds-tab-outer {
	    box-shadow: none;
	}
	.social.d-flex.justify-content-center.search-funds-tab-1.border-radius-all {
	    background: #ebebeb;
	}
	.total-amount-outer .social{
        margin-bottom: 15px;
	    border-radius: 8px !important;
	    background: transparent;
	}
	.no-padding{
	    padding: 0px !important;
	}
	.client-tabs #total-earnings .search-section div.mx-auto {
	    padding: 0px 10px !important;
	}
	.total-amount {
	    width: 100%;
	    text-align: center;
	    padding: 15px 0px 5px 0px;
	    display: block;
	    text-transform: uppercase;
	    background: #ffffff;
	    margin-bottom: 15px;
	    box-shadow: 0px 4px 5px 4px #d6d6d6;
	    border-radius: 8px !important;
	}
	.total-amount .fund-title h6 {
	    border-bottom: 1px solid #cccccc;
	    padding-bottom: 10px;
	}
	.border-right{
		border-right: 1px solid #cccccc !important;
	}
	.border-bottom{
		border-bottom: 1px solid #cccccc;
	}
	.no-border{
		border:0px !important;
	}
	.paid-unpaid{
		padding: 15px 0px 0px;
		border-top: 1px solid #cccccc;
	}
	.paid-unpaid .fund-title{
		padding: 0px;
	}
	.total-amount-outer .period-returns-risks.relation-details {
	    width: 100%;
	}
	.total-amount-outer{
		display: block;
	}
	.total-amount-details-outer{
		display: none;
	}
}

@media(max-width: 540px){
	.aum-inner-tabs .tabbable-line > .nav-tabs > li > a {
	    font-size: 12px;
	}
	.aum-title {
	    margin: 20px 0px !important;
	    font-size: 20px;
	}
	.aum-inner-tabs .tabbable-line > .nav-tabs > li > a {
	    padding: 5px 12px;
	}
	.fund-title h2, .rank h2 {
	    font-weight: 800;
	    font-size: 25px;
	}
	.accordionExample .card-body .social h6 {
	    font-size: 14px;
	}
	.accordionExample .card-body .ir-contact .relation-details {
	    width: 100%;
	}
}

@media(max-width: 375px){
	.fund-title h2, .rank h2 {
	    font-size: 25px;
	}
	.total-amount .fund-title h6 {
	    font-size: 11px;
	}
}