@media(max-width: 768px){
	.client-header {
	    background: none;
	    background-color: #002d52;
	    text-align: center !important;
	    padding: 3rem 1rem;
	}
	.client-header h4{
		margin: 0px !important;
		text-transform: uppercase;
	}
	.client-tabs ul.nav.nav-tabs {
	    display: -webkit-inline-box;
	    overflow: scroll;
	    width: 100%;
	    background-color: #002d52;
	}
	.client-tabs .tabbable-line > .nav-tabs > li {
	    width: auto;
	    padding: 5px 20px !important;
	    margin: 0px;
	    margin-right: 10px;
	    border: 0px !important;
	    font-size: 18px;
	}
	.client-tabs .search-section {
	    padding: 1rem 0rem;
	    background: #ebebeb;
	}
	.client-tabs .tabbable-line > .nav-tabs > li > a.active.show {
	    border-bottom: 5px solid #008afb !important;
    	color: #ffffff;
	}
	.tabbable-line > .nav-tabs > li > a, .tabbable-line > .nav-tabs > li.active > a {
	    padding-bottom: 22px;
	    color: #5b6e82;
	}
	.client-tabs .search-section div {
	    padding: 0px !important;
	}
	.client-tabs #custom-search-input {
	    width: 75% !important;
	}
	.client-tabs .small-cases-btn {
	    margin-left: 2% !important;
	}
	.client-tabs #custom-search-input input {
	    height: 40px;
	    padding: 0px 5px;
	}
	.client-tabs #custom-search-input button {
	    margin: 9px 0 0 0;
	}
	.client-tabs .small-cases-btn .btn-info {
	    background: #008afb;
	    color: #ffffff;
	    padding: 14px 4px 11px;
	}
	.client-tabs .tabbable-line > .tab-content {
	    padding: 8px 20px;
	}
	.client-tabs .search-funds-tab-outer {
	    box-shadow: 0px 4px 5px 4px #d6d6d6;
	}
	.client-tabs .search-funds-tab {
	    background: #ffffff;
	    padding: 20px 10px;
	    padding: 0px;
	    border-bottom: 1px solid #a9a4a4;
	}
	.client-tabs .search-funds-tab .company-details {
	    width: 100% !important;
	    padding: 3% 5% 1.5%;
		border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	}
	.client-tabs span.status-red, .client-tabs span.status-green, .client-tabs span.status-orange  {
	    height: 10px;
	    width: 10px;
	    display: inline-flex;
	    border-radius: 50%;
	    margin-right: 5px;
	}
	.client-tabs span.status-red{
	    background: red;
	}
	.client-tabs span.status-green{
	    background: #1aef04;
	}
	.client-tabs span.status-orange {
	    background: orange;
	}
	.fund-title h4, .rank h4 {
	    font-size: 24px;
	    font-weight: 700;
	}
	.fund-title h6, .rank h6{
	    color: #a9a4a4;
	}
	.company-details .company-details-1, .company-details .company-details-3 {
	    width: 50%;
	}
	.company-details .company-details-3 {
	    text-align: right;
	}
	.period-returns-risks h4, .fund-managers-profile h4 {
	    font-weight: 500;
	    text-transform: initial;
	}
	.search-funds-tab-1 {
	    background: #ffffff;
	    padding: 25px 10px 20px;
	    border-radius: 0px 0px 10px 10px;
	}
	.period-returns-risks {
	    width: 33%;
	}
	.client-mgmt-modal .modal-content {
	    background-color: #ffffff;
	    border-radius: 5px !important;
	}
	.client-mgmt-modal .modal-header {
	    border-bottom: 1px solid #d6d6d6;
	}
	.client-mgmt-modal .d-flex {
	    padding-bottom: 10px;
	}
	.client-mgmt-modal .piechart-circle {
	    width: 70%;
	}
	.client-mgmt-modal .piechart-elements{
		width: 30%;
	}
	.client-mgmt-progress .company-details-1{
		text-align: center;
		width: 33.33%;
	}
	.client-mgmt-progress .fund-title h4 {
	    font-size: 20px;
    	text-transform: initial;
	}
	.investment-progress-tab .company-details-1 .period-returns-risks {
	    width: 100%;
	}
	.investment-progress-tab .progress-status .client-mgmt-progress {
	    padding: 25px 14px 20px !important;
	    border-radius: 0px 0px 10px 10px !important;
	}
	.investment-progress-tab .progress-status{
	    border-radius: 0px 0px 10px 10px !important;
	}
	.investment-progress-tab .progress-status .client-mgmt-progress .period-returns-risks h4{
		/*padding: 9px 10px;*/
		font-size: 100%;
	}
	.investment-progress-tab .progress-status h4, .investment-progress-tab .progress-status h6 {
	    padding: 10px;
	}
	.steps-completed-block {
	    box-shadow: 0px 4px 5px 4px #d6d6d6;
	    border-radius: 10px;
	    padding: 20px;
	    box-shadow: 0 0 10px rgba(0,0,0,0.6);
	    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	    margin: 10px;
	}
	.steps-completed-block img.step-icon {
	    width: 75% !important;
	    margin: 0 auto;
	}
	.steps-completed-block img.status-icon {
	    width: 25% !important;
	    margin: 0 auto;
	}
	.steps-completed-block h6 {
	    text-align: center;
	    font-size: 17px;
	    padding: 20px 0px;
	    height: 100px;
	}
	.prospective-clients .company-details .company-details-3 {
	    text-align: left;
	}
	.prospective-clients .company-details .company-details-1 {
	    width: 65%;
	}
	.prospective-clients .company-details .company-details-3{
		width: 35%;
	}
	.prospective-clients-details h4 {
	    text-transform: initial;
	}
	.prospective-clients .search-funds-tab .company-details{
		border-radius: 0px;
	}
	.prospective-clients-header{
	    background: #ffffff;
	    padding: 20px 0px 11px;
	    text-align: center;
	    font-weight: bolder;
	    color: #000000;
	    border-bottom: 1px solid #a9a4a4;
	}
	.border-radius-top{
		border-radius:10px 10px 0px 0px !important; 
	}
	.border-radius-bottom{
		border-radius: 0px 0px 10px 10px !important; 
	}
	.add-client {
	    margin-bottom: 40px;
	}
	.add-client-form {
	    width: 100%;
	}
	.add-client-form label {
	    width: 35% !important;
	    font-size: 15px;
	    color: #a9a4a4;
	    padding: 8px 0px;
	    margin: 0px;
	}
	.add-client-form input {
	    width: 65% !important;
	}
	#add-client-modal .d-flex{
		padding-bottom: 15px;
	}
	.period-returns-risks.save-client {
	    width: 100%;
	    float: right;
	    text-align: right;
	}
	.period-returns-risks button {
	    width: 35%;
	    text-align: center;
	    background: #008afb;
	    padding: 8px 10px;
	    border-radius: 40px;
	    color: #ffffff;
	    font-weight: 700;
	    text-transform: uppercase;
	    font-size: 15px;
	    margin-bottom: 10px;
	    border: 0px;
	}
	.search-section .row {
	    margin: initial;
	}
}

@media (max-width: 540px){
	.client-tabs .search-section div.mx-auto {
	    padding: 0px 20px !important;
	}
	.tabbable-line > .nav-tabs > li > a, .tabbable-line > .nav-tabs > li.active > a {
	    font-size: 13px;
	    padding-bottom: 10px;
	}
	.dashboard-tabs .tabbable-line .nav-tabs {
	    padding: 7px;
	}
	#custom-search-input {
	    height: auto;
	}
	.fund-title h4, .rank h4 {
	    font-size: 14px;
	}
	.fund-title h6, .rank h6 {
	    font-size: 0.8rem;
	}
	.social.d-flex.m-d-flex {
	    display: block !important;
	}
	.client-mgmt-progress .company-details-1 {
	    width: 100%;
	}
	.client-mgmt-progress .fund-title h4 {
	    font-size: 14px;
	}
	.investment-progress-tab .progress-status .client-mgmt-progress .period-returns-risks h4 {
	    font-size: 10px;
	}
	.investment-progress-tab .progress-status .client-mgmt-progress {
	    padding: 15px 14px 15px !important;
	}
	.investment-progress-tab .progress-status h4, .investment-progress-tab .progress-status h6 {
	    padding: 2px 0px;
	    margin-bottom: 5px;
	}
	.investment-progress-tab .progress-status h4.viewprogress-status{
	    width: 50%;
	    margin: 0 auto;
	    padding: 8px;
	}
	.prospective-clients .company-details .company-details-3 {
	    width: 45%;
	}
	.prospective-clients .company-details .company-details-1 {
	    width: 55%;
	}
	.add-client img {
	    width: 10%;
	}
	.client-tabs ul.nav.nav-tabs {
	    overflow-y: hidden;
	}
	#add-client-modal .d-flex {
	    padding-bottom: 0px;
	    margin-bottom: 5px;
	}
	.period-returns-risks button {
	    font-size: 12px;
	}
	/*nav#mainNav {
	    position: absolute;
	    width: 100%;
	}*/
}

@media (max-width: 375px){
	.steps-completed-block h6 {
	    font-size: 14px;
	}
	.steps-completed-block {
	    padding: 20px 1px;
	}
	.fund-title h4, .rank h4 {
	    font-size: 12px;
	}
}