@media(max-width: 768px){
	.paytm-btn {
	    width: 100%;
	    margin-bottom: 15px;
	}
	.client-tabs .small-cases-btn .btn-info {
	    background: #002d52;
	    color: #ffffff;
	    padding: 8px 4px;
	}
	.bid-table td{
		text-align: center;
	}
	.bid-table .hide1, .bid-table .hide2{
		display: none;
	}
	.bid-table tr:hover .hide1 {
	    position: absolute;
	    left: -10px;
	    text-align: center;
	    width: 100%;
	    display: inline-flex;
	    color: #ffffff;
	}
	.bid-table .buy{
		width: 50%;
		background: green;
	}
	.bid-table .sell{
		width: 50%;
		background: red;
	}
	.display-none{
		display: none;
	}
	div#bid-table_wrapper {
	    width: 100%;
	    padding: 10px;
	}
	.make-offer-form {
	    padding: 20px;
	    box-shadow: 0px 4px 5px 4px #d6d6d6;
	    width: 100%;
	}
	.make-offer-form .add-client-form input {
	    width: 100% !important;
	    border-radius: 20px;
	}
	.make-offer-form form{
		display: inline-block;
	}
	.make-offer-form .save-client {
	    width: 100%;
	    float: right;
	    text-align: center;
	}
	.available-offer-outer .search-section div.mx-auto {
	    padding: 0px 10px !important;
	}
	.available-offer-outer .small-cases-btn .btn-info {
	    padding: 12px 4px;
	    background: #008afb;
	}
	#bid-table1 th input{
		width: 100%;
		border:0px solid #cccccc;
    	border-radius: 8px;
	}
	#bid-table1 th input::placeholder{
		font-size: 15px;
		text-align: center;
	}
	#bid-table1 th {
	    background: #ebebeb !important;
	    padding-bottom: 10px;
	    outline: none;
	}
	#bid-table1 th input:hover, #bid-table1 th input:focus{
		outline: none;
	}
	#bid-table1 td {
	    text-transform: uppercase;
    	letter-spacing: initial;
	}
	#bid-table1 tbody tr {
	    border-radius: 10px !important;
	    line-height: 2.5;
	    border-bottom: 1px solid #cccccc;
	    box-shadow: 0px 0px 4px 2px #d6d6d6;
	    background: transparent;
	}
	.available-offer-outer{
		display: block;
	}
	.available-offer-details-outer{
		display: none;
	}
	#bid-table1 i.fas.fa-angle-down {
	    font-size: 20px;
	    vertical-align: middle;
	    color: gray;
	}
	.client-tabs #available-offer .small-cases-btn {
	    margin-left: 0% !important;
	}
}

@media(max-width: 540px){
	.bid-table th {
	    font-size: 15px;
	}
	#bid-table1 th input::placeholder{
		font-size: 10px;
	}
	#bid-table1 td {
	    font-size: 11px;
	}
	#bid-table1 i.fas.fa-angle-down {
	    font-size: 15px;
	}
}

@media (max-width: 375px){
	.client-tabs .tabbable-line > .nav-tabs > li {
	    padding: 0px !important;
	}
	.bid-table th {
		font-size:10px;
	    padding: 10px 0px !important;
	}
	.bid-table td {
	    font-size: 13px;
	}
	#bid-table1 td {
	    font-size: 10px;
	}
	#bid-table1 i.fas.fa-angle-down {
	    font-size: 12px;
	}
}