	.btn-primary:active {
	    background-color: #008afb!important;
	}
	.logo-center {
	    text-align: center !important;
	    margin: 0 auto;
	    display: block;
	    font-size: 20px;
	    color: #ffffff;
	    padding: 0px;
	}
	#mainNav {
	    box-shadow: 0px 2px 5px 0px #555555;
	}
	.register-header {
	    background: transparent;
	    background-color: #008afb;
	    /*border-radius: 0% 0% 70% 70% / 0% 0% 70% 70%;*/
	}
	.register-title {
	    color: #ffffff;
	    text-transform: uppercase;
	    font-size: 25px;
	    letter-spacing: normal;
	    margin-bottom: 10px !important;
	    padding: 20px 0px;
	    width: 100%;
	    text-align: center;
	}
	.register-subtitle{
		width: 85%;
		margin: 0 auto;
		padding: 100px 0px 10px;
	}
	.register-subtitle h4 {
	    font-size: 23px;
	    margin: 0px;
	}
	.register-subtitle h3 {
	    font-size: 28px;
	    margin: 0px;
	    font-weight: 700;
	}
	.register-details {
	    background: transparent;
	    background-color: #ffffff;
	}
	.register-details h3{
		color: gray;
		text-align: left;
		font-size: 23px;
		margin-bottom: 5px !important;
	}
	.register-details span{
		color: red;
		padding-left: 5px;
	}
	.country-code {
	    width: 100%;
	    text-align: left;
	}
	.country-code select {
	    font-size: 23px;
	    color: gray;
	    border-color: transparent;
	    padding: 0px;
	    margin-bottom: 20px;
	    border-bottom: 2px solid rgba(0,0,0,.1);
	}
	.register-details .form-inline input {
	    /*-webkit-box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
	    box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;*/
	    padding: 1rem 0.3rem;
	    height: auto;
	    line-height: 1;
	    font-size: 18px;
	    text-transform: uppercase;
	    letter-spacing: .15rem;
	    border: 0;
	    box-shadow: none !important;
    	border-bottom: 2px solid rgba(0,0,0,.1) !important;
	}
	.country-code option, .country-code optgroup {
	    font-size: 15px;
	}
	input#inputphoneno {
	    width: 100%;
	}
	button.next {
	    padding: 0px;
	    background: transparent;
	    color: #008afb;
	    font-size: 50px;
	    position: absolute;
	    right: 0;
	    bottom: -160px;
	    cursor: pointer;
	    box-shadow: none !important; 
	}

	.otp-form div{
 	  text-align:center;
   		/*background:#eee;*/
	}
	.otp-form input{
	    border: 0;
	    outline: 0;
	    background: transparent;
	    border-bottom: 3px solid #008afb !important;
	    width: 100px;
	    text-align:center;
	    padding : 5px;
	    margin-left:10px;
	}
	.register-details .otp-form input {
	    width: 10%;
	    box-shadow: none !important;
	}
	.user-details {
	    padding: 50px 0px;
	}
	.user-details .user-details-row {
	    width: 100%;
	    padding-bottom: 30px;
	}
	.user-details .user-details-row input{
		margin-right: 50px !important;
	}
	.user-details .user-details-row h3, .user-details h3 {
	    font-size: 20px;
	    padding: 0rem 0.3rem 0.5rem 0.3rem;
	}
	.user-details .user-details-row div {
	    width: 100%;
	}
	.user-details .user-details-row select {
	    width: -webkit-fill-available;
	    margin-right: 50px !important;
	}
	.user-details .password-text{
		width: 100%;
	}
	.register-details .form-inline input:hover {
	    border-bottom: 2px solid #008afb !important;
	    transition: border-width 0.2s linear;
	}
	.submit {
	    padding: 10px 0px;
	    background: #008afb;
	    color: #ffffff;
	    font-size: 25px;
	    width: 100%;
	    cursor: pointer !important;
	    box-shadow: none !important;
	    letter-spacing: unset;
	}
	.terms {
	    width: 100%;
	    text-align: left;
	    float: left;
	    padding: 30px 0px;
	}
	.terms .checkbox {
	    text-align: left;
	    float: left;
	    font-size: 18px;
	}
	.terms .checkbox input {
	    height: 25px !important;
    	width: 25px !important;
    }
    .terms .checkbox a{
    	text-decoration: underline;
    }
    #partitioned {
	  /*padding-left: 0px;
	    letter-spacing: 42px;
	    border: 0;
	    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
	    background-position: bottom;
	    background-size: 50px 1px;
	    background-repeat: repeat-x;
	    background-position-x: 35px;
	    width: 290px;
	    min-width: 290px;
	    text-align: center;
	    margin: 0px;*/
	            padding-left: 18px;
    letter-spacing: 30px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 42px 1px;
    background-repeat: repeat-x;
    background-position-x: 39px;
    width: 250px;
    min-width: 250px;
    text-align: left;
    margin: 0px;
	}

	#divInner{
	  left: 0;
	  position: sticky;
	  text-align: left;
	}

	#divOuter{
	  /*width:290px; 
	  overflow:hidden;
	  text-align: left;*/
	      width: 214px;
    overflow: hidden;
    text-align: left;
	}
	.register-details .form-inline input#partitioned:hover {
	    border-bottom: 0px solid #008afb !important;
	    border: 0px;
    	outline: none;
	}
	.company-logo{
	    margin: 0 auto;
	    display: block;
	    margin-bottom: -130px;
	}
	i.fas.fa-camera.edit-company-logo{
	    /*margin: 0 auto;
	    display: block;
	    text-align: left;
	    width: 15%;
	    z-index: 99999999999999;
	    display: none;
	    height: 0;*/
	    position: absolute;
	    left: 43%;
	    top: 15%;    
	    display: none;
	}
	.company-logo-outer label{
		margin: 0 auto;
	    display: block;
	    text-align: left;
	    width: 100%;
	    z-index: 99999999999999;
	    height: 0;
	    margin-top: -20px;
	}
	input#company-logo {
	    visibility: hidden;
	}
	.company-logo-outer:hover i.fas.fa-camera.edit-company-logo {
	    display: block !important;
	}
	.signup-section.register-details.user-details.associate-profile {
	    padding: 100px 0px;
	}
	.associate-profile form input {
	    margin-bottom: 20px !important;
	}
	.associate-profile p {
	    text-align: left;
	    font-size: 18px;
	}
	.bank-details .panel-heading .accordion-toggle:after {
	    /* symbol for "opening" panels */
	    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	    float: right;        /* adjust as needed */
	    color: #ffffff;         /* adjust as needed */
	}
	.bank-details .panel-heading .accordion-toggle.collapsed:after {
	    /* symbol for "collapsed" panels */
	    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
	}
	.container.bank-details {
	    margin-bottom: 25px;
	    padding: 0px;
	    background: #008afb;
	}
	.container.bank-details .panel-heading {
	    background: #008afb;
	    padding: 15px 10px;
	    border-radius: .25rem;
	    border-bottom: 1px solid #ffffff;
	}
	.container.bank-details .panel-heading a {
	    color: #ffffff;
	}
	.container.bank-details .panel-heading h4.panel-title {
	    margin: 0px;
	}
	.container.bank-details div#collapseOne {
	    color: #ffffff;
	    padding: 30px 15px;
	}
	.register-details .bank-details input{
	    background: #008afb !important;
	    width: 100% !important;
	    border-color: #ffffff !important;
	    color: #ffffff !important;
	    padding-top: 0px;
	}
	.register-details .bank-details input.disabled{
	    opacity: 0.5;
    	cursor: not-allowed;
    	pointer-events: none;
    }
	.register-details .bank-details h3{
		color: #ffffff;
	}
	.register-details .bank-details input:hover {
	    border-bottom: 2px solid #ffffff !important;
	}
	button.incorrect-details {
	    box-shadow: none !important;
	    color: #ffffff;
	    padding: 10px 0px 0px;
	    text-transform: inherit;
	}
	.upload-pan-cheque {
	  	position: relative;
	    overflow: hidden;
	    background: #008afb;
	    font-size: 15px;
	    padding: 10px;
	    width: 49% !important;
	    margin: 0 auto;
	    display: block;
	    letter-spacing: initial;
	}
	.upload-pan-cheque input {
	  position: absolute;
	  font-size: 50px;
	  opacity: 0;
	  right: 0;
	  top: 0;
	}
	.d-flex.pan-cheque {
	    padding-bottom: 25px;
	}
	.register-details .form-inline input#partitioned {
	    border-bottom: 0px solid rgba(0,0,0,.1) !important;
	}
	.form-inline .user-details-row .form-control {
	    width: -webkit-fill-available;
	}

@media(max-width: 768px){
	#partitioned{
		letter-spacing: 27px;
		background-size: 41px 1px;
		padding-left: 17px;
	}
	.user-details .user-details-row input,.user-details .user-details-row select {
	    margin-right: 10px !important;
	}
}

@media(max-width: 540px){
	.register-header {
	    padding: 4rem 1rem 1rem;
	}
	.register-title {
	    font-size: 20px;
	}
	.register-subtitle h4 {
	    font-size: 20px;
	}
	.register-subtitle h3 {
	    font-size: 25px;
	}
	.register-details {
	    width: 80%;
	    margin: 0 auto;
	    padding: 50px 0px;
	}
	.register-details h3, .user-details .user-details-row h3, .user-details h3 {
	    font-size: 18px;
	}
	.country-code select {
	    font-size: 18px;
	    width: 40%;
	}
	.register-details .form-inline input {
	    font-size: 13px;
	}
	.country-code option, .country-code optgroup {
	    font-size: 12px;
	}
	button.next {
	    font-size: 40px;
	    bottom: -90px;
	}
	.register-subtitle {
	    padding: 50px 0px 10px;
	}
	.signup-section.register-details.user-details{
		padding: 50px 0px;
    	width: 100%;
	}
	.user-details .user-details-row input {
	    width: 90%;
	}
	.user-details .user-details-row {
	    padding-bottom: 20px;
	}
	.terms .checkbox input {
	    height: 20px !important;
	    width: 20px !important;
	}
	.terms .checkbox {
	    font-size: 15px;
	}
	.submit {
	    padding: 5px 0px;
	    font-size: 20px;
	}
	.company-logo {
	    margin-bottom: -80px;
	}
	i.fas.fa-camera.edit-company-logo {
	    left: 38%;
	    top: 21%;
	}
	.associate-profile p {
	    font-size: 15px;
	}
	.d-flex.pan-cheque {
	    display: block !important;
	}
	.upload-pan-cheque {
	    margin-bottom: 20px;
	    width: 100% !important;
	}
	#partitioned{
		padding-left: 18px;
	    letter-spacing: 34px;
	    background-size: 42px 1px;
	}
}

@media(max-width: 360px){
	.register-header {
	    padding: 4rem 1rem 0rem;
	}
	.register-title {
	    font-size: 20px;
	}
	.register-subtitle h4 {
	    font-size: 18px;
	}
	.register-subtitle h3 {
	    font-size: 23px;
	}
	.register-details {
	    width: 80%;
	    margin: 0 auto;
	    /*padding: 5px 0px;*/
	}
	.register-details h3, .user-details .user-details-row h3, .user-details h3 {
	    font-size: 15px;
	}
	.country-code select {
	    font-size: 15px;
	    width: 40%;
	}
	.register-details .form-inline input {
	    font-size: 11px;
	}
	.country-code option, .country-code optgroup {
	    font-size: 12px;
	}
	.register-subtitle {
	    padding: 17px 0px 60px;
	}
	button.next {
	    font-size: 30px;
	    bottom: -60px;
	}
	.register-subtitle {
	    padding:40px 0px 10px;
	}
	.signup-section.register-details.user-details{
		width: 100%;
	}
	.terms .checkbox {
	    font-size: 12px;
	}
	.terms .checkbox input {
	    height: 15px !important;
	    width: 15px !important;
	}
	i.fas.fa-camera.edit-company-logo {
	    left: 35%;
	    top: 24%;
	}
	#partitioned {
	    padding-left: 21px;
	}
	.user-details .user-details-row input {
	    margin-right: 5px !important;
	}
}

@media(max-width: 320px){
	nav#mainNav {
	    width: 320px;
	}
}