@media(max-width: 768px){
	.relationship-tabs .search-funds-tab .company-details {
	    background-color: #002d52;
	}
	.fund-title h4, .rank h4 {
	    color: #ffffff;
	}
	.period-returns-risks {
	    width: 50%;
	}
	.period-returns-risks.relation-label h4 {
	    width: 60%;
	    margin: 0 auto;
	    text-align: left;
	    background: #ffffff;
	    padding: 10px;
	    color: #000000 !important;
	    border-radius: 40px;
	    color: #ffffff;
	    font-weight: 800;
	    text-transform: capitalize;
	    font-size: 20px;
	    padding: 15px;
	    margin-bottom: 0px;
	}
	.period-returns-risks.relation-label {
	    width: 65%;
	}
	.period-returns-risks.relation-details{
		width: 35%;
	}
	.relation-details h4.icons  {
	    width: 25%;
	    text-align: center;
	    background: #002d52;
	    color: #ffffff !important;
	    border-radius: 10px;
	    font-size: 25px;
	    font-weight: 500;
	    margin-bottom: 0px;
	}
	.no-border-r {
	    border-radius: 0px !important;
	}
	.search-funds-tab-1 {
	    border-bottom: 1px solid #cccccc;
	}
	.search-funds-tab-1.bg-blue {
	    padding: 5px 0px;
	    background: #008afb;
	}
	.period-returns-risks h4.mapped-date {
	    background: transparent;
	    color: #000000;
	    font-size: 18px;
	}
	.period-returns-risks h4.update-profile {
	    width: 80%;
	}
	.search-funds-tab-1 {
	    padding: 20px 10px 15px;
	}
	.company-details .company-details-3 {
	    text-align: right !important;
	}
	.aum-details h4, .aum-details .period-returns-risks.relation-label h4 {
	    background: #ffffff !important;
	    color: #7e7d7d !important;
	    font-weight: 700;
	    font-size: 22px !important;
	}

/*--------------investment-initiation css starts here-----------------------------*/
	.investment-initiation .social.d-flex.m-d-flex {
	    display: inline-flex !important;
	}
	.investment-initiation .fund-title h4 {
	    text-transform: uppercase ;
	}
	.investment-initiation .investment-title-block{
		padding: 15px 2px 10px !important;
		border-radius: 0px !important;
	}
	.investment-initiation .client-mgmt-progress .company-details-1 {
	    text-align: left;
	}
	.investment-initiation h4.icons{
	    margin: 0px;
	    width: 50%;
    	padding: 5px 0px;
    }
	.investment-initiation i.fas.fa-phone, .investment-initiation i.fab.fa-whatsapp, .investment-initiation i.fas.fa-envelope {
	    font-size: 25px;
	    border: 1px solid #ffffff;
	    padding: 5px;
	    border-radius: 4px;
	}
	.investment-initiation .investment-title-block .social div:nth-child(1) {
	    width: 120%;
	}
	.investment-initiation .investment-title-block .social div:nth-child(2) {
	    width: 80%;
	}
	.accordionExample button {
	    padding: 0px;
	}
	.accordionExample .company-details-1.fund-title {
	    width: 75%;
	}
	.accordionExample .collapsed h4, .accordionExample .collapsed h6, .accordionExample h4, .accordionExample h6, 
	.accordionExample .collapsed .fund-title h4 {
	    color: #002d52 !important;
	}
	.accordionExample .fund-title h4{
	    color: #000000 !important;
	}
	.accordionExample .btn-link:hover, .accordionExample .btn-link{
		text-decoration: none;
		box-shadow: none !important;
	}
	.accordionExample div#headingOne {
	    padding-bottom: 5px;
	    padding-top: 20px;
	}
	.accordionExample .card {
	    border-radius: 8px;
	    margin-bottom: 10px;
	    box-shadow: 0px 10px 10px 2px #d6d6d6;
	}
	.accordionExample .card-body .social h4 {
	    text-transform: capitalize;
	    color: #000000 !important;
	}
	.accordionExample .card-body .social h6{
		color:#7e7d7d !important;
	}
	.accordionExample .card-body .social div{
		width: 50%
	}
	.accordionExample .card-body {
	    padding: 0px;
	}
	.accordionExample .card-body .social {
	    padding: 1.25rem 1.25rem  0.75rem;
	    border-bottom: 1px solid #cccccc;
	}
	.accordionExample .card-body .ir-contact {
	    width: 100% !important;
	    padding: 0px;
	    text-align: center;
	}
	.accordionExample .card-body .ir-contact h6 {
	    color: #000000 !important;
	    font-size: 20px;
	    font-weight: 700;
	}
	.accordionExample .card-body .ir-contact-icons {
	    display: inline-flex;
	}
	.accordionExample .card-body .ir-contact .update-profile{
		color: #ffffff !important;
    	font-size: 15px;
	}
	.accordionExample .card-body .ir-contact .relation-details{
		margin: 0 auto;
		width: 65%;
	}
/*--------------investment-initiation css ends here-----------------------------*/

/*--------------investment-status-update css starts here-----------------------------*/
	.investment-status-update .card-header h6 {
	    font-size: 14px;
    	letter-spacing: initial;
	}
	.investment-status-update p.details-btn {
	    background: #008afb;
	    color: #ffffff;
	    padding: 5px 20px 5px;
	    font-size: 15px;
	    border-radius: 10px;
	    letter-spacing: initial;
	    margin: 15px 0px 0px 10px;
	}
	.investment-status-update .accordionExample .company-details-1.fund-title {
	    width: 50%;
	}
	.investment-status-update .accordionExample .card-header .fund-title h4 {
	    color: #002d52 !important;
	}
	.investment-status-update .accordionExample .card-body .company-details-1 {
	    width: 180%;
	}
	.investment-status-update .accordionExample .card-body .company-details-3.rank {
	    text-align: center;
	}
	.investment-status-update .accordionExample .card-body i.fas.fa-check-circle {
	    color: #6ac259;
	    font-size: 20px;
	}
	.investment-status-update p.pending-btn {
	    background: #008afb;
	    color: #ffffff;
	    padding: 2px 10px 1px;
	    font-size: 15px;
	    border-radius: 10px;
	    letter-spacing: initial;
	    margin: 0px;
	    text-transform: uppercase;
	}
	.investment-status-update .accordionExample .card-body .social h6 {
	    color: #7e7d7d !important;
	    text-transform: uppercase;
	    font-size: 15px;
	    letter-spacing: initial;
	}
	.investment-status-update .period-returns-risks.relation-details {
	    width: 60%;
	    margin: 0 auto;
	}
	.investment-status-update h4.update-profile {
	    font-size: 14px;
	    color: #ffffff !important;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
/*--------------investment-status-update css ends here-----------------------------*/
}

@media(max-width: 540px){
	.search-funds-tab-1 {
	    padding: 15px 10px 6px;
	}
	.period-returns-risks.relation-label, .period-returns-risks.relation-details {
	    width: 50%;
	}
	.period-returns-risks.relation-label h4 {
	    width: 100%;
	    font-size: 15px;
	    padding: 10px 0px;
	}
	.period-returns-risks h4.mapped-date {
	    font-size: 15px;
	}
	.relation-details h4.icons {
	    padding: 5px 0px;
	}
	.aum-details h4, .aum-details .period-returns-risks.relation-label h4 {
	    font-size: 18px !important;
	}
	.investment-initiation i.fas.fa-phone, .investment-initiation i.fab.fa-whatsapp, .investment-initiation i.fas.fa-envelope {
	    font-size: 15px;
	    border: 1px solid #ffffff;
	    padding: 5px;
	    border-radius: 4px;
	}
	.accordionExample .card-body .ir-contact h6 {
	    color: #000000 !important;
	    font-size: 14px;
	    font-weight: 700;
	}
/*--------------investment-status-update css starts here-----------------------------*/
	.investment-status-update .card-header h6, .investment-status-update p.pending-btn {
	    font-size: 10px;
	}
	.investment-status-update p.details-btn {
	    padding: 5px 10px 5px;
	    font-size: 10px;
	    margin-top: 5px;
	}
	.investment-status-update .accordionExample .card-body .social h6  {
	    font-size: 12px;
	}
	.investment-status-update .period-returns-risks.relation-details {
	    width: 80%;
	}
/*--------------investment-status-update css ends here-----------------------------*/
}

@media(max-width: 375px){
	.relationship-header h4 {
	    font-size: 15px;
	}
	.relation-details h4.icons {
	    width: 30%;
	    padding: 10px 0px;
	    font-size: 18px;
	}
	.period-returns-risks.relation-label h4, .period-returns-risks h4.mapped-date, .aum-details h4, 
	.aum-details .period-returns-risks.relation-label h4 {
	    font-size: 13px !important;
	}
	.investment-status-update .period-returns-risks.relation-details {
	    width: 100%;
	}
}