#mainNav .navbar-toggler {
    font-size: 100%;
    padding: 10px 0px;
    color: #ffffff;
    border: 0px solid #64a19d;
}
#mainNav .navbar-toggler .fa-bars{
    font-weight: 600;
    font-size: 20px;
}
.header-right-block .fas {
    color: #ffffff;
    padding-right: 10px;
    font-size: 20px;
    /*vertical-align: middle;*/
    vertical-align: baseline;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    padding: 2px 0px;
}
nav#mainNav.navbar-shrink {
    -webkit-box-shadow: 0px 2px 5px 0px #555555;
    box-shadow: 0px 2px 5px 0px #555555;
}
.fundsmap-video img {
    width: 768px;
}
.fundsmap-video-outer{
    width: 100%;
    max-width: 100%;
    line-height: 0px;
}
.masthead{
    min-height: unset;
    padding-top: 55px !important;
    min-height: unset;
    background: transparent;
}
#about.masthead {
    background: transparent !important;
    padding: 56px 0px 0px !important;
    min-height: auto;
    /*height: 80vh;
    margin: 20% 0px 0px;*/
    height: 65vh;
    margin: 15% 0px 3%;
}
header.masthead .container {
    padding: 0px;
}
.about-section {
    padding: 0rem 1rem;
    /*background: url(../images/partner-bg.png);*/
    text-align: left !important;
    background-size: cover;
    background-repeat: no-repeat;
    background: #ffffff;
}
.about-title{
    /*color: #f7fc04 !important;*/
    text-transform: uppercase;
    /*font-size: 18px;
    font-weight: 700;*/
    letter-spacing: normal;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #212529;
    padding-bottom: 10px;
    width: 85%;
    color: #008afb !important;
    font-weight: 800;
    font-size: 23px;
    text-transform: uppercase;
}
.about-section p {
    /*margin-bottom: 1rem;
    font-size: 15px;
    line-height: normal;
    color: #ffffff !important;
    text-transform: uppercase;*/
    font-size: 16px;
    color: #6c6c6c !important;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.3;
    margin-bottom: 1rem;
}
header.masthead .container {
    padding: 0px;
    margin: 0px;
}
.projects-section, .projects-section .featured-text {
    padding: 1rem 0;
}
/*.advantage{
	-webkit-box-shadow: 0px 1px 4px 1px #cccccc;
	box-shadow: 0px 1px 4px 1px #cccccc;
}*/
.advantage h5{
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: normal;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 12px;
    margin-bottom: 15px;
}
.advantage-slider .carousel-cell {
    width: 66%;
    /*height: 200px;*/
    margin-right: 10px;
    background: transparent;
    border-radius: 5px;
    counter-increment: gallery-cell;
}
.advantage-slider img{
    /*
        width: 100%;
        padding: 0px 20px;
        border-radius: 10px;
    */

    width: 75%;
    padding: 0px 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
.your-role h4.text-white {
    color: #008afb !important;
    font-weight: 800;
    font-size: 23px;
    text-transform: uppercase;
}

.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.your-role .sub-title{
    font-size: 16px;
    color: #6c6c6c !important;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5;
}
.your-role p {
    font-size: 13px;
    line-height: normal;
    color: #696464 !important;
    margin-bottom: 10px;
}
/*.advantage-slider .flickity-enabled.is-draggable .flickity-viewport{
	height: 210px !important;
	overflow: visible !important;
}
.advantage-slider .flickity-viewport{
	overflow: visible !important;
}
nav#mainNav .container {
    margin: 0  auto;
}*/

.funds-map-role .left-block{
    width: 60%;
    position: absolute;
    z-index: 9999;
    right: 0px;
}
.funds-map-role .right-block{
    width: 40%;
    position: absolute;
    z-index: 9999;
    left: 0px;
}

.your-role .bg-black {
    background-color: #f8f9fa !important;
}

.whatsapp i.fab.fa-whatsapp {
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
}
.whatsapp .whatsapp-text{
    font-size: 12px;
    font-weight: 900;
    padding: 7px 0px 7px 10px;
    color:gray !important;
}
.navbar .logo {
    font-size: 20px;
    color: #ffffff;
    padding: 10px 0px 0px;
    top: 7px;
    position: absolute;
    left: 50px;
}
#projects, .partner-role, .funds-map-role, .help-desk, .your-role .bg-black{
    background: #ffffff !important;
}
.flickity-home-outer{
    background: #ffffff;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 17px 4px #484343;
    box-shadow:0px 0px 17px 4px #484343;
}
.help-desk{
    height: 80px;/*150px;*/
}
.user-dropdown .dropdown-toggle::after{
    display: none !important;
}
.user-dropdown ul.dropdown-menu.show {
    /*min-width: 100px;
    left: -55px !important;
    font-size: 14px;
    padding: 5px;*/
    min-width: 110px;
    left: -65px !important;
    font-size: 14px;
    padding: 5px;
    top: 38px;
    border-radius: inherit;
}
.border-radius-all {
    border-radius: 10px !important;
}

/**Pagination Code Start **/
#projects .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
#projects .pagination .page-item.active .page-link {
    background: #3e8afb;
    color: #ffffff !important;
}
/**Pagination Code End**/

@media(max-width:1440px){
    .advantage-slider img{
        width: 90%;
    }
}

@media(max-width: 1280px){
    #navbarResponsive ul.navbar-nav.ml-auto {
        margin-right: 50px;
    }
    #mainNav .nav-link {
        padding: 2rem 0.5rem;
    }
}

@media(max-width: 1024px){
    #about.masthead {
        height: 30vh;
        margin: 8% 0px 0px;
    }
}

@media(max-width: 800px){
    .masthead {
        padding-top: 55px !important;
        padding: 0px;
    }
    .navbar .logo {
        left: 70px;
    }
    #mainNav {
        height: auto;
    }
    .header-right-block.d-flex {
        position: initial;
        right: auto;
    }
    #mainNav .nav-link {
        padding: 0.2rem 0.5rem;
    }
}

@media(max-width: 768px){
    .partner-role .right-block{
        width: 100%;
        position: inherit;
        z-index: 9999;
        right: 0px;
        padding: 0px 40px;
    }
    .partner-role .left-block{
        /*width: 60%;
        position: absolute;
        z-index: 9999;
        left: 0px;*/
        padding: 0px 40px;
        width: 100%;
        position: inherit;
    }
    .your-role .text-right {
        text-align: left !important;
    }
    .your-role.projects-section .project-text {
        padding: 1.5rem 0px;/*1.5rem;*/
        font-size: 90%;
    }
    .col-lg-8.your-role {
        max-width: 100%;
    }
    .your-role{
        height: unset;/*50vh;*/
    }
    .whatsapp p.whatsapp-button {
        width: 24%;
    }
    ul.navbar-nav.ml-auto{
        padding-right: 0px;
    }
    #mainNav {
        height: auto;
    }
    .header-right-block.d-flex {
        position: initial;
        right: auto;
    }
    .fundsmap-video iframe{
        height: 400px;
    }
    #about.masthead {
        padding: 0px 0px 0px !important;
        margin: 55px 0px;
    }
    .top-row{
        margin: 0px;
    }
    .about-section {
        padding: 4rem 1rem;
    }
    #about.masthead {
        height: 70vh;
    }
    .slider-outer {
        padding: 25px 0px 1px;
    }
    .navbar .logo {
        left: 50px;
    }
}
@media(max-width: 767px){
    .your-role h4.text-white, .about-title {
        font-size: 15px;
    }
    .your-role .sub-title, .your-role p {
        font-size: 11px;
    }
    .partner-role .left-block {
        padding: 0px;
    }

}

@media(max-width:540px){
    /*.about-section {
        background-size: contain;
    }*/
    .fundsmap-video img {
        width: 100%;
    }
    .advantage-slider .flickity-viewport {
        height: 130px !important;
    }
    .advantage-slider .carousel-cell {
        width: 75%;
    }
    .advantage-slider img {
        padding: 0px 5px;
    }
    .funds-map-role .right-block, .partner-role .right-block{
        /*padding: 16% 0px;*/
        padding: 5% 0px;
    }
    .whatsapp p.whatsapp-button {
        width: 40%;
        margin-bottom: 80px;
    }
    .about-section p {
        font-size: 10px;
    }
    .fundsmap-video iframe {
        height: 300px;
    }
    .about-section {
        padding: 2rem 0rem 0rem;
    }
    #about.masthead {
        height: 90vh;
    }
}

@media(max-width: 430px){
    .whatsapp p.whatsapp-button {
        width: 44%;
    }
    .your-role {
        height: unset;/*60vh;*/
    }
    .flickity-prev-next-button .flickity-button-icon {
        position: absolute;
        left: 28%;
        top: 30%;
        width: 40%;
        height: 40%;
    }
    .flickity-prev-next-button {
        top: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #about.masthead {
        height: 70vh;
    }
}
@media(max-width: 375px){
    .your-role {
        height: unset;/*65vh;*/
    }
    .whatsapp p.whatsapp-button {
        width: 52%;
    }
    #about.masthead {
        height: 80vh;
    }
}

@media(max-width: 374px){
    .masthead h1 {
        font-family: 'Varela Round';
        font-size: 1.5rem;
    }
    .about-title{
        width: 100%;
    }
    .advantage-slider .flickity-viewport {
        height: 100px !important;
    }
    #about.masthead {
        height: 90vh;
    }
}

@media(max-width: 320px){
    .your-role {
        height: unset;/*75vh;*/
    }
    .whatsapp p.whatsapp-button {
        width: 51%;
    }
    #about.masthead {
        height: 95vh;
    }
}