#mainNav {
    height: 56px;
    min-height: 56px;
    background-color: #008afb;
    z-index: 9999999;
}
.modal {
    text-align: center;
    padding: 0!important;
    z-index: 99999;
}


.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px;
}
.modal-header .close {
    float: right;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: absolute;
    right: 18px;
    top: 18px;
    border-radius: 50%;
    padding: 4px 6px;
}
.modal-header .close:hover {
    opacity: 1;
    background: #dddddd;
}
.modal-dialog {
    width: 60%;
    margin: 0px;
    max-width: 95%;
    border-radius: 5px !important;
}
.modal-content {
    background-color: #dadada;
    border-radius: 5px !important;
}
.modal-body {
    padding: 2rem 1rem;
}


/*------------------------------css for desktop starts here-----------------------------*/
.header-right-block.d-flex {
    position: absolute;
    right: 15px;
}
.advantage h5 {
    text-align: center;
}
.masthead {
    height: auto;
}
.margin-o-auto{
    margin: 0 auto;
}
.col-lg-8.your-role {
    max-width: 58%;
}
.partner-role .right-block{
    width: 50%;
    position: absolute;
    z-index: 9999;
    right: 0px;
}
.partner-role .left-block{
    width: 50%;
    position: absolute;
    z-index: 9999;
    left: 0px;
    padding:0px;
}
.your-role.projects-section .project-text {
    padding: 0px;
}
.your-role {
    height: 40vh;/*65vh;*/
}
.whatsapp p.whatsapp-button {
    width: 10%;
    -webkit-box-shadow: 0px 1px 2px 2px #cccccc;
    box-shadow: 0px 1px 2px 2px #cccccc;
    right: 0px;
    position: absolute;
    background: #ffffff;
    padding: 5px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.fundsmap-video iframe {
    height: 95vh;
    pointer-events: none;
}
#mainNav.navbar-shrink {
    background-color: #008afb;
}
#mainNav.navbar-shrink .nav-link {
    color: rgba(255,255,255,.5);
}
#mainNav.navbar-shrink .nav-link.active{
    color: #ffffff;
    border-bottom: 0px solid #64a19d;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.joinus-btn{
    /*color: #ffffff;
    margin-right: 10px;
    cursor: pointer;*/
    color: #ffffff !important;
    margin-right: 10px;
    cursor: pointer;
    background: orange;
    border-radius: 6px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    padding: 0px 8px;
    font-size: 1rem;
    letter-spacing: initial;
}

#drawer {
    /*position: absolute;
    right: 0;*/
    /*top: 0;
    height: 100%;*/
    /*overflow-x: hidden;*/ /* Needed for initial hidden state */

    position: fixed;
    right: 0;
    overflow-x: hidden;
    bottom: 100px;
    cursor: pointer;
    z-index: 9999;
}
#drawer > div {
    height: 100%;
    border-left: 0px solid white;
    float: left;
}
#drawer-handle {
    width: auto;
    background-color: #008afb;
}
/*#drawer-handle:after {
    content: "<";
    position: absolute;
    top: 50%;
    padding: 2px;
}*/
#drawer-content {
    width:         135px;
    margin-right: -200px; /* -width */
    background-color: #ffffff;
}
#drawer-content > p {
    padding: 10px;
    margin: 0px;
    font-size: 12px;
    font-weight: 900;
    padding: 7px 0px 7px 10px;
    color: gray !important;
}

.add-client img {
    position: fixed;
    bottom: 10px;
    right: 0px;
}
.header-right-block .fas {
    color: #ffffff;
    padding-right: 0px;
    margin-top: 3px;
    font-size: 20px;
}
.desktop-hidden-nav{
    display: none;
}
#projects .featured-text h3 {
    text-align: center;
    letter-spacing: normal;
    margin-bottom: 10px !important;
    color: #008afb !important;
    font-weight: 800;
    font-size: 23px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.fundsmap-video iframe {
    height: 270px;
    pointer-events: none;
}
.about-section {
    background: #ffffff;
}
.about-section h6 {
    color: #6c6c6c !important;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 12px;
}
.fundsmap-video h3 {
    width: 272px;
    transform: rotate(270deg);
    pointer-events: none;
    bottom: 120px;
    position: absolute;
    left: -133px;
    font-size: 20px;
    color: #6c6c6c !important;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.3;
    margin-bottom: 0rem;
    letter-spacing: 7px;
}
.slider-outer{
    background: #008afb;
    padding: 50px 0px 1px;
}

@media (min-width: 767px){
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
}


@media (min-width: 992px){

    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0px solid #64a19d;
    }
}

@media (max-width: 1440px){
    .your-role.col-lg-8 {
        max-width: 78%;
    }
    .partner-role .left-block, .your-role.projects-section .project-text {
        padding: 0px;
    }
    .whatsapp p.whatsapp-button {
        width: 15%;
    }
}

@media (max-width: 1366px){
    .your-role {
        height: 50vh;/*85vh;*/
    }
}

@media(max-width: 1200px){
    ul.navbar-nav.ml-auto{
        padding-right: 50px;
    }
    .joinus-btn {
        margin-right: 5px;
        padding: 0px 4px;
    }
    .your-role {
        height: 60vh;/*85vh;*/
    }
}

@media (max-width: 1024px){
    .your-role {
        height: 33vh;
    }
}

@media(max-width: 768px){
    .desktop-hidden-nav{
        display: block;
    }
    #drawer {
        bottom: 20px;
    }
    .video-outer {
        max-width: 100% !important;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        left: 0px;
        padding: 0px;
    }
    .about-outer {
        right: 0px;
        max-width: 100% !important;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
    }
    .fundsmap-video h3{
        display: none;
    }
}

@media(max-width: 500px){
    #drawer-content {
        width: 110px;
    }
}