#mainNav {
    min-height: 56px;
    background-color: #008afb;
        z-index: 9999999;
}
.modal {
  text-align: center;
  padding: 0!important;
  z-index: 99999;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-header .close {
        float: right;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: absolute;
    right: 18px;
    top: 18px;
    border-radius: 50%;
    padding: 4px 6px;
}
.modal-header .close:hover {
    opacity: 1;
    background: #dddddd;
}
.modal-dialog {
    width: 60%;
    margin: 0px;
    max-width: 95%;
    border-radius: 5px !important;
}
.modal-content {
    background-color: #dadada;
    border-radius: 5px !important;
}
.modal-body {
    padding: 2rem 1rem;
}